.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 35.4rem;
    background-color: #000000;
}

.navegacao {
    display: inline-flex;
    gap: 2rem;
}

.link {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.8rem;
}